<<<<<<< HEAD
=======

<footer class="card text-center text-lg-start bg-white text-muted footer-small fixed-bottom">
  <section>
    <div class="container text-center text-md-start mt-1 mb-1">
      <div class="row">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
           <h6 class="text-capitalize fw-light mt-2 mb-0">
            @ 2023 WaveRent, Inc.
          </h6>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
          <a href="#" class="btn btn-link text-capitalize fw-light mb-0" style="text-decoration: none; color: black;">
            About Us
          </a>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
          <a href="#" class="btn btn-link text-capitalize fw-light mb-0" style="text-decoration: none; color: black;">
          Contact
          </a>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
          <a href="/" class="btn btn-link text-capitalize mb-0" style="text-decoration: none; color: black;">
            <i class="fab fa-facebook-f me-1 text-secondary"></i>
            <i class="fab fa-instagram me-1 text-secondary"></i>
            <i class="fab fa-github me-1 text-secondary"></i>
            <i class="fab fa-linkedin-in me-1 text-secondary"></i>
            <i class="fab fa-twitter me-1 text-secondary"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</footer>
>>>>>>> master
