<footer class="card text-center text-lg-start bg-white text-muted footer-small fixed-bottom sticky-bottom">
  <section>
    <div class="container text-center mt-1 mb-1">
      <div class="row justify-content-between">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
           <h6 class="text-capitalize fw-light mt-1 mb-0 footer-text" style ="text-decoration: none; color: rgb(33, 158, 188);">
            @ 2023 WaveRent, Inc.
          </h6>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
          <a href="#" class="text-capitalize fw-light mb-0 footer-text" style="text-decoration: none; color: rgb(33, 158, 188);">
            About Us
          </a>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
          <a href="#" class="text-capitalize fw-light mb-0 footer-text" style="text-decoration: none; color: rgb(33, 158, 188);">
          Contact
          </a>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-1">
          <a href="/" class="mb-0 social-icon">
            <i class="fab fa-facebook-f me-1"></i>
            <i class="fab fa-instagram me-1"></i>
            <i class="fab fa-github me-1"></i>
            <i class="fab fa-linkedin-in me-1"></i>
            <i class="fab fa-twitter me-1"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</footer>
