<footer class="card text-center text-lg-start bg-white text-muted footer-small">
  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-3 mb-3">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
          <!-- Content -->
          <h6 class="text-capitalize fw-bold mb-0">
            <i class="fas fa-water me-1 text-secondary"></i>WaveRent
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
          <!-- Links -->
          <h6 class="text-capitalize mb-0">
            About Us
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
          <!-- Links -->
          <h6 class="text-capitalize mb-0">
            Terms
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
          <!-- Links -->
          <h6 class="text-capitalize mb-0">Contact</h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
