<h1>Gears#index</h1>
<p>Find me in app/views/gears/index.html.erb</p>
<h1>Get your Peers Gear here!</h1>

<% @gears.each do |gear| %>
  <div>
    <h2><%= link_to gear.model, gear_path(gear) %></h2>
  </div>
<% end %>

<%= link_to "Create a new Gear Listing", new_gear_path, class: "btn btn-primary" %>
