<div class="container">
  <%= render 'shared/carousel' %>
</div>
<div class="container d-flex align-items-center justify-content-between ">
  <div class="row row-4 my-4 ">
    <% @gears.each do |gear| %>
      <div class='col-3 mx-3 mb-3 p-3 '>
        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
        <img src="<%= asset_path('1.png') %>" class="img-top" alt="...">
        <div class="card-body">
        <h2><%= link_to gear.model, gear_path(gear) %></h2>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
